<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Torchmedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Torchmedia.styles.css" asp-append-version="true" />
    </head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="Img/logo.png" width="75px" alt="Logo TorchMedia">
                    <a href="#hero">
                        <h1>TorchMedia</h1>
                    </a>
                </div>
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                <ul class="nav-links" id="nav-links">
                    <li><a href="#quienes-somos">Quienes Somos</a></li>
                    <li><a href="#nuestros-servicios">Nuestros Servicios</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#testimonios">Testimonios</a></li>
                    <li><a href="#hero" class="button">Contactanos</a></li>
                </ul>

            </nav>

        </div>
    </header>

    <!-- Main Content -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>© 2024 Todos los Derechos Reservados MiAplicación</p>
            <p>info@miaplicacion.com</p>
            <div class="social-links">
                <a href="https://www.instagram.com/miaplicacion"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
